.questions {
  color: #ddc5a2;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 25px;
  }

  &__pair {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}
